div img {
    width: 100%;
    max-width: 600px;
    
}
@media ( max-width: 576px) { 
/* mobil */
.laptop, .tableta {
    display: none;
}
}
@media (min-width: 577px) and (max-width: 768px) {
    /* tableta */
    .mobil, .laptop {
        display: none;
    }
}
@media  ( min-width: 769px) {
    /* laptop */
    .mobil, .tableta{
        display: none;

p{
    color:red;
    font-weight:bold;
}
p:hover{
    color:blue
}
h1:hover {
    color:rgb(34, 93, 241);
    font: size 12px;
}
#demo{
    color:aqua
}
#demo:hover{
    color:red
}
